body {
  background-color: #9d9d9d;
  color: #212121;
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
}

/*#mainNav a {
  color: #FFFFFF;
}*/

#about {
  /*background-color: #3F51B5;*/
  margin-top: 51px;
}

#about .social {
  margin: 20px 0;
}

#about .social-icon {
  color: #212121;
}

#about .social-icon:hover {
  color: #448AFF;
}

#profile {
  max-width: 300px;
  border-radius: 50%;
  margin: 10px auto;
}

#portfolio {
  background-color: #FFFFFF;
}

.project-img {
  margin: 0 auto 20px;
}

#contact {
  padding: 1em;
}

footer {
  padding: 1em 0;
  background-color: #222;
}

footer p {
  margin-bottom: 0;
}