body {
  background-color: #B6B6B6;
  color: #212121;
}

#mainNav, footer {
  background-color: #303F9F;
}

#mainNav a {
  color: #FFFFFF;
}

#about {
  background-color: #3F51B5;
  margin-top: 51px;
}

#profile {
  max-width: 300px;
  border-radius: 50%;
  margin: 5px auto;
}

#portfolio {
  background-color: #FFFFFF;
}

.project-img {
  margin: 0 auto 20px;
}

#contact {
  padding: 1em;
}

footer {
  padding: 1em 0;
}

footer p {
  margin-bottom: 0;
}